.OverlayProgress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10; // 10 so to make sure if the design is well (y not going over 10 generally)
    //( can be overidding anyway)
    pointer-events: none;
    transition: all ease .3s;

    // different states styling

    &.failed {
        .Overlay {
            background: linear-gradient(to bottom, #ff7878, #ff4128);
        }
    }

    &.aborted {
        .Overlay {
            background: linear-gradient(to bottom, #ffeb78, #ffb428);
        }   
    }

    &.success {
        .Overlay {
            background: linear-gradient(to bottom, #86a6fd, #413eff);
        }   
    }

    &.onProgress {

    }

    &.queued {

    }

    .Overlay {
        // default
        background: #a8ff78;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity: .2;

        & .bottomTop {
            background: #a8ff78;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        &.leftRight {
            background: #a8ff78;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        &.topBottom {
            background: #a8ff78;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        &.rigthLeft {
            background: #a8ff78;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

    }
}